<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <title>你画我猜</title>
    <link href="/libs/h5-base.css" rel="stylesheet" type="text/css">
    <link href="/css/draw.css" rel="stylesheet" type="text/css">
    <script src="/libs/h5-base.js" type="text/javascript"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src="/js/io.js" type="text/javascript"></script>
</head>
<body>
<main class="main draw">
    <header>你画我猜</header>

    <div id="draw-wrap">
        <canvas id="draw-board" height="450">
        </canvas>
        <div class="tips"></div>
        <div class="reset-board">清除画板</div>
    </div>

    <section>
        <div class="msg-box"></div>
        <div class="input-box clearfix">
            <input type="text" class="answer-input"></input>
            <div class="send-answer">发送</div>
        </div>
    </section>
    <div class="game-role"></div>
    <section></section>
</main>
<script src="/js/draw.js" type="text/javascript"></script>
</body>
</html>
