<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .user span {
            width: 40px;
            height: 50px;
            background-color: blueviolet;
            margin-right: 15px;
        }
        button {
            margin-top: 40px;
            width: 100%;
            height: 30px;
            background-color:aquamarine;
        }
    </style>
</head>
<body>
    <div class="user"></div>
    <button class="start-game">开始游戏</button>
    <script src='/socket.io/socket.io.js'></script>
    <script src="http://apps.bdimg.com/libs/zepto/1.1.4/zepto.js"></script> 
    <script src="/js/io.js" type="text/javascript"></script>

    <script>
        var roomMember;
        socket.emit('waiting-page');
        socket.on('waiting-page', function(data) {
            roomMember = data;
            var pNode = document.getElementsByClassName('user')[0];
            while(pNode.hasChildNodes()) {
                pNode.removeChild(pNode.firstChild);
            }
            
            for(var i=0;i<data.length;i++) {
                // $('.user').prepend('<span>'+data[i]+'</span>');
                var sp1 = document.createElement("span");
                sp1.innerHTML = data[i];
                pNode.insertBefore(sp1, null);
            }
        });
        socket.on('game_start', function() {
                window.location.pathname = '/draw.html';
        })
        document.getElementsByClassName('start-game')[0].addEventListener('click', function() {
            if(roomMember.length < 2) {
                alert('至少为两个人才可以开始游戏');
            } else {
                socket.emit('game_start');
            }
        })

    </script>
</body>
</html>