* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #F9F1B5;

}
header {
	height: 50px;
	width: 100%;
	background-color: pink;
	box-sizing: border-box;
	border: 1px dotted black;

}
.main {
	overflow: hidden;
	position: relative;
	#draw-board {
		background-color: #F5F5F5;
	}
	.reset-board {
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

.msg-box {
	background-color: gray;
}